@tailwind base;
@tailwind components;
@tailwind utilities;

:where(html, body, #root) {
  height: 100%;
}

/*hide scrollbar in all browsers*/


.scrollbar::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}



